# Cache and Testing
__pycache__/
*.py[cod]
*.pytest

# Folders
output/
docs/
Dataset/
niftis/
wandb/
mini_dataset/
*weights/
*temp*
*.pt
*output*
*test_slices/
*train_slices/

# Notebooks
*ipynb
!figs.ipynb

# Sphinx documentation
docs/*
!docs/conf.py
!docs/*.rst
!docs/_static/
!docs/_templates/
!docs/Makefile
!docs/make.bat
!docs/requirements.txt

# Report
report/*
!report/main.tex
!report/main.pdf
!report/fig/
